<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  <classes>
      <class name="Tests.TC_1_Product_Search"/>
      <class name="Tests.TC_2_Product_Add_To_Cart"/>
      <class name="Tests.TC_3_Adding_Multiple_Products"/>
      <class name="Tests.TC_4_Placing_Order"/>
      <class name="Tests.TC_5_Navigation_Commands_Validation"/>
      <class name="base.Testbase"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
